{#
/**
 * @file tripal_vocab.html.twig
 * Default theme implementation to present Tripal Controlled Vocabularies.
 *
 * This template is used when viewing Tripal Controlled Vocabulary pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tripal_vocab()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tripal_vocab') }}>
  {% if content %}
    <table>
    <tbody>
      <tr><th>Core Vocabulary</th><td>
        <a href="{{ path(content.vocab.route, {'tripal_vocab': content.vocab.id}) }}">
          {{ content.vocab.name }}</a>
      </td></tr>
      {% if content.allvocabs %}
        <tr><th>Accessory Vocabularies</th><td>
          {% for vocab in content.allvocabs %}
            {% if not loop.last %}
              <a href="{{ path(vocab.route, {'tripal_vocab': vocab.id}) }}">
                {{ vocab.name }} ({{ vocab.namespace}})</a>,
            {% else %}
              <a href="{{ path(vocab.route, {'tripal_vocab': vocab.id}) }}">
                {{ vocab.name }} ({{ vocab.namespace}})</a>
            {% endif %}
          {% endfor %}
          </td></tr>
      {% endif %}
      <tr><th>Namespace (IDSpace)</th><td>
        {{ content.vocab.namespace }} ({{ content.idspace }})
      </td></tr>
      <tr><th>Accession</th><td>{{ content.idspace }}:{{ content.accession }}</td></tr>
      <tr><th>Term Name</th><td>{{ content.name }}</td></tr>
    </tbody>
    </table>
    <p>{{ content.definition }}</p>
  {% endif %}
</div>
